body,
html {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  flex-wrap: wrap;
}
.wrapper div {
  margin: 0 5px;
}
.marginTop {
  margin-top: 10px;
}
.book {
  height: calc(100vh - 22px);
  display: flex;
  align-items: center;
  padding: 0px 10px;
  background-color: #297373;
  color: white;
}
.book img {
  height: 100%;
}
.book h1 {
  color: white;
}
.book h3 {
  color: white;
}
.bookContent {
  display: flex;
  width: 100%;
  padding: 10px;
  flex-direction: column;
  text-align: center;
}
.bookContent p {
  text-align: left;
  font-size: 15px;
}
.bookContent input {
  font-size: 30px;
  margin-top: 10px;
  background-color: #a4ac96;
  color: white;
}
.bookContent textarea {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #a4ac96;
  color: white;
}
.bookContent button {
  background-color: #a4ac96 !important;
  color: white;
}
.bookContent button:focus {
  color: white;
}
.createBook {
  display: flex;
  flex-direction: column;
}
.createBook label {
  display: flex;
  flex-direction: column;
  text-align: left;
  text-transform: capitalize;
}
